.container {
	border: 1px solid black;
	height: 400px;
	width: 600px;
}

.component {
	border: 1px solid black;
	display: inline-block;
}

.input {
	border: 1px solid green;
}

.output {
	border: 1px solid red;
}
