.toolbar {
	border: 1px solid black;
	height: 25px;
	width: 1000px;
	margin-bottom: -1px;
}

.button {
	height: 23px;
	width: 23px;
	border: 1px solid black;
	border-radius: 5px;
	display: inline-block;
}

.sprite {
	background: url(sprite.png) no-repeat;
}

.createOscillator {
	background-position: 0 -2px;
}
.createGain {
	background-position: 0 -26px;
}
.createBiquadFilter {
	background-position: -1px -50px;
}

.view {
	border: 1px solid black;
	height: 400px;
	width: 1000px;
}

.component {
	border: 1px solid black;
	display: inline-block;
	position: relative;
}

.label {
	display: block;
	height: 15%;
}


.AudioNode {
	width: 100px;
	height: auto;
	white-space: nowrap;
	margin: 10px 50px 10px 50px;
}

.AudioDestinationNode {
	float: right;
}

.inOuts {
	position: relative;
}

.container {
	position: relative;
	background-color: #DDD;
	display: inline-block;
	vertical-align: middle;
	height: 100%;
	width: 48%;
	margin: 1% 1% 1% 1%;
	white-space: normal;
}

.input {
	border: 1px solid green;
	float: left;
	left: -15px;
}

.output {
	border: 1px solid red;
	float: right;
	right: -15px;
}


.input, .output {
	background-color: gray;
	display: block;
	position: relative;
	margin: 2px;
}

.audioInput, .audioOutput {
	background: white url(sprite.png) no-repeat 0 -75px;
	height: 25px;
	width: 25px;
	border: 1px solid black;
	border-radius: 5px;
	text-align: center;
	line-height: 1.5em;
	color: lightgray;
	text-shadow: yellow 1px 1px 10px;
}
